*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #e7e5f7;
}
 .navbar{
  width: 100%;
  height: 80px;
  background-color: #0d6efd; 
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 0 20px;
  position: fixed;    
  top: 0;
  left: 0;
  z-index: 1000;     
  color: white;
}
h1 {
  margin: 2px auto;
  font-size: 1.5rem;
  width: 80vw;
  display: flex;
  justify-content: center;
  text-align: center;
}
.navbar p{
  font-size: 30px;
  font-weight: bolder;
  margin-right: 10px;
  color: black;
  /* width: 20vw; */
}
.navbar .nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}
.navbar .nav ul li {
  margin-right: 15px;
}
#navbar_btn{
background-color: #053dd6;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  height: 40px;
  transition: background-color 0.3s ease;
  position: absolute;
  right: 2em;
  top: 18px;
  width: 90px;
}
.nav{
  display: flex;
  justify-content: space-between;
  width: 45vw;
  
}
.navbar .nav ul li a {
  text-decoration: none;
  font-weight: 500;
  margin: auto 10px;
  color: white;
  font-weight: 700;
}
.navbar .nav ul li a:hover {
  color: #e1f56e;
}
#link_toggle_btn{
 
  display: none;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 0.2em;
  width: 35px;
  justify-content: center;
  font-size: 2em;
  top: 10px;
}

.contanier{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
  width: 100vw;
  margin:  9px auto 8px auto;
}
 .item {
   border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  color: #333;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 20px;
  text-align: left;
  width: 30%;
  height: auto;
}
.item:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.item img {
    width: 100%; 
    height: 200px;
    object-fit: cover; 
    border-radius: 8px 8px 0 0;
    margin-bottom: 15px; 
    background-color: none;
}

.item h2 {
    font-size: 1.5em; 
    color: #007bff; 
    margin: 0 0 10px 0; 
}
.item p {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}



.item button {
   
    background-color: #007bff;
    color: white; 
    padding: 10px 15px; 
    border-radius: 5px; 
    border: none; 
    cursor: pointer; 
    font-size: 1em;
    transition: background-color 0.3s ease;
}

   button:hover {
    background-color: #0056b3;
}
.spinner_parent {
 margin: 80px auto 5px auto;
  width: 30vw;
  height: 70px;
  display: flex;
  justify-content: center;
 
}
.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #ddd;         
  border-top-color: #3498db;      
  border-radius: 50%;  
  margin-top: 10px;          
  animation: spin 0.8s linear infinite;}
  

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.active{
  border: 1px solid white;
  display: none;
}

@media (max-width:470px){
  .contanier{
    width: 100vw;
  }
  .item{
    width: 90%;
  }
  #link_toggle_btn{
  display: flex;
  }
   .nav{
    display: none;
  }
.active {
  display: flex;
  flex-direction: column;
  background: #222;
  padding: 10px;
  width: 9em;
  position: absolute;   
  top: 65px;            
  right: 10px;
  border-radius: 8px;
}

.active ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.active ul li {
  margin: 8px 0;
}

.active ul li a {
  color: rgb(182, 46, 46);
}
 
 #navbar_btn{
   width: 7.2em;
    right: 3.7em;
    font-size: 0.7em;
    height: 35px;
  }
 
  .navbar p{
    font-size: 20px;
  font-weight: bolder;
  margin-right: 5px;
  color: white;
  /* width: 15vw; */
  }
  
}


@media (min-width:470px) and (max-width:800px){
  .contanier{
    width: 100vw;
    margin: 3px;
  }
  .item{
    width: 41%;
  }
  
 
 .nav{
    display: none;
  } 
  .active {
  display: flex;
  flex-direction: column;
  background: #222;
  padding: 10px;
  width: 9em;
  position: absolute;   
  top: 65px;            
  right: 10px;
  border-radius: 8px;
}
.active ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.active ul li {
  margin: 8px 0;
}
  
#link_toggle_btn{
  display: flex;
   
}
#navbar_btn{
  width: 6.8em;
    right: 3.7em;}
    .active{
    display: flex;
  }
  
  }
    
@media (min-width:800px) and (max-width:1200px){
  .item{
    width: 28%;
  }
  .nav{
    display: none;
  }
  #link_toggle_btn{
 display: flex;
}
 #navbar_btn{
    right: 3.7em;}
  .active {
  display: flex;
  flex-direction: column;
  background: #222;
  padding: 10px;
  width: 9em;
  position: absolute;   
  top: 65px;            
  right: 10px;
  border-radius: 8px;
}
.active ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.active ul li {
  margin: 8px 0;
}
 
}


